div.cloth img{
    width:300px;
    height:268px;
    border-radius: 20px;
}
div.navbar ul li{
    float:left;
}
#brand{
    height:100px;
    width:430px;
    float:left;
    position:relative;
}
nav{
    background-color: #33cc00;
    position:relative;
    height:100px;
}
#user{
    position:absolute;
    right:0;
    margin-top:0;
}
div.navbar ul li a{
    background-color: #33cc00;
    display:block;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    width:170px;
    color:#ffffff;
    text-decoration: none;
    float:left;
    position:relative;
}
div.navbar ul li a:hover{
    background-color: #58824a;
}
div.navbar ul{
    list-style-type: none;
}
div.map a{
    position:relative;
    padding:6px;
}
div.cloth{
    position:relative;
}
div.cloth table{
    border-radius: 20px;
}
div.cloth table th,td{
    border:1px;
    border-color: #000000;
    text-align:center;
}
div.footer{
    position:relative;
}
div.cart{
    position:fixed;
    bottom:0;
    right:0;
}
div.cart table{
    background-color: #ffffff;
    width:240px;
    height:200px;
}
#cartname{
    text-align: left;
    height: 10px;
    background-color: #33cc00;
    border:0;
}